<html>

<head>
  <meta charset="UTF-8">
  <title>Trang Chat</title>
</head>

<body>
  <h1>Chat Page</h1>
  <!-- 
    conversation.id được truyền từ controller
    ta gán vào attribute conversation-id để custom element dùng
  -->
  <chat-input conversation-id={"#{@conversation_id}"}></chat-input>
</body>

</html>