<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lời mời kết bạn</title>
</head>

<body>
    <friend-requests-component></friend-requests-component>
</body>

</html>